<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.XuanRan.MiuiXcHt">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
          android:theme="@style/AppTheme"
        android:resizeableActivity="false">
        
        <!--是否启用Xposed模块-->
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <!--Xposed模块描述-->
        <meta-data
            android:name="xposeddescription"
            android:value="开启小米MIUI相册的魔法换天功能（2.2.15.13版本以上）\n\nBy XuanRan 3135419729@qq.com"/>
        <!--Xposed兼容最低版本-->
        <meta-data
            android:name="xposedminversion"
            android:value="54"/>
        <!--适配全面屏-->
        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

         </application>

</manifest>
